html {
	margin-left: 16px;
}

.red {
	color:red
}

.android_os {
	color:green
}

.hide {
	display:none;
}

#log_level_list {
	float: left;
	width: 320px;
}

#main_content {
	float: left;
	width: 1024px;
	margin-left: 32px;
}

.warn {
	color: blue;
}

.error {
	color: red;
}
