html {
	margin-left: 16px;
}

.red {
	color:red
}

.android_os {
	color:green
}

.hide {
	display:none;
}

#log_level_list {
	margin-top: 8px;
	margin-bottom: 8px;
	font-size: 16px;
}

.log_tag {
	margin-bottom: 4px;
}

#log_tag_list {
	float: left;
	font-size: 16px;
	word-break: break-all;
	overflow: scroll;
}

#all_log_tag_check {
	font-size: 16px;
}

#main_content {
	float: left;
	margin-left: 32px;
	overflow: scroll;
}

.warn {
	color: blue;
}

.error {
	color: red;
}
